function Congratulations.show 4
push local 3
push argument 0
add
pop local 3
push local 3
push argument 1
add
push constant 4
call Math.multiply 2
pop local 3
push local 3
push argument 2
add
push constant 16
call Math.multiply 2
pop local 3
push constant 14
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 14
call String.new 1
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 3
push constant 10000
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 10000
push local 3
sub
pop local 3
goto IF_END0
label IF_FALSE0
push constant 0
pop local 3
label IF_END0
push local 3
call Output.printInt 1
pop temp 0
push constant 115
push constant 86
push constant 380
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 110
push constant 91
push constant 115
push constant 96
call Screen.drawRectangle 4
pop temp 0
push constant 106
push constant 96
push constant 110
push constant 135
call Screen.drawRectangle 4
pop temp 0
push constant 110
push constant 135
push constant 115
push constant 140
call Screen.drawRectangle 4
pop temp 0
push constant 115
push constant 140
push constant 155
push constant 144
call Screen.drawRectangle 4
pop temp 0
push constant 145
push constant 145
push constant 155
push constant 149
call Screen.drawRectangle 4
pop temp 0
push constant 170
push constant 145
push constant 180
push constant 149
call Screen.drawRectangle 4
pop temp 0
push constant 145
push constant 149
push constant 150
push constant 154
call Screen.drawRectangle 4
pop temp 0
push constant 165
push constant 149
push constant 175
push constant 154
call Screen.drawRectangle 4
pop temp 0
push constant 140
push constant 154
push constant 170
push constant 159
call Screen.drawRectangle 4
pop temp 0
push constant 135
push constant 159
push constant 155
push constant 164
call Screen.drawRectangle 4
pop temp 0
push constant 175
push constant 140
push constant 380
push constant 144
call Screen.drawRectangle 4
pop temp 0
push constant 380
push constant 91
push constant 385
push constant 96
call Screen.drawRectangle 4
pop temp 0
push constant 385
push constant 96
push constant 389
push constant 135
call Screen.drawRectangle 4
pop temp 0
push constant 380
push constant 135
push constant 385
push constant 140
call Screen.drawRectangle 4
pop temp 0
push constant 8
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 393
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 988
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 6300
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 6300
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 4001
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 5200
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 6300
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop local 2
label WHILE_EXP0
push local 2
push constant 7
lt
not
if-goto WHILE_END0
push constant 16896
push local 2
push local 0
add
pop pointer 1
push that 0
add
pop local 1
push local 1
push constant 32
add
push constant 384
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 384
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 384
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 384
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 384
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 31806
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 31806
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 384
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 384
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 384
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 384
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 384
call Memory.poke 2
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
push local 0
add
push constant 196
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 972
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 81
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 6548
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 6020
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop local 2
label WHILE_EXP1
push local 2
push constant 5
lt
not
if-goto WHILE_END1
push constant 16896
push local 2
push local 0
add
pop pointer 1
push that 0
add
pop local 1
push local 1
push constant 128
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 7224
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 3696
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 1056
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 1056
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 3696
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 7224
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push constant 16896
push constant 2984
add
pop local 1
push local 1
push constant 0
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 24583
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 24583
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 24583
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 7
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 7
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 7
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 7
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 24583
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 24583
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 24583
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 8184
call Memory.poke 2
pop temp 0
push constant 16896
push constant 2985
add
pop local 1
push local 1
push constant 0
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 8184
call Memory.poke 2
pop temp 0
push constant 16896
push constant 2986
add
pop local 1
push local 1
push constant 0
add
push constant 24590
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 24606
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 24606
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 24606
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 24686
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 24686
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 24686
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 24974
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 24974
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 24974
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 26126
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 26126
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 26126
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 30734
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 30734
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 24590
call Memory.poke 2
pop temp 0
push constant 16896
push constant 2987
add
pop local 1
push local 1
push constant 0
add
push constant 32760
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 32760
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 32760
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 31758
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 31758
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 31758
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 24590
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 24590
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 24590
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 32766
call Memory.poke 2
pop temp 0
push constant 16896
push constant 2988
add
pop local 1
push local 1
push constant 0
add
push constant 4094
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 4094
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 4094
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 3598
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 3598
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 3598
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 28686
call Memory.poke 2
pop temp 0
push constant 16896
push constant 2989
add
pop local 1
push local 1
push constant 0
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 28686
call Memory.poke 2
pop temp 0
push constant 16896
push constant 2990
add
pop local 1
push local 1
push constant 0
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 896
call Memory.poke 2
pop temp 0
push constant 16896
push constant 2991
add
pop local 1
push local 1
push constant 0
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 4080
call Memory.poke 2
pop temp 0
push constant 16896
push constant 2992
add
pop local 1
push local 1
push constant 0
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 32766
call Memory.poke 2
pop temp 0
push constant 16896
push constant 2993
add
pop local 1
push local 1
push constant 0
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 28686
call Memory.poke 2
pop temp 0
push constant 16896
push constant 2994
add
pop local 1
push local 1
push constant 0
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 896
call Memory.poke 2
pop temp 0
push constant 16896
push constant 2995
add
pop local 1
push local 1
push constant 0
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 896
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 896
call Memory.poke 2
pop temp 0
push constant 16896
push constant 2996
add
pop local 1
push local 1
push constant 0
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 8184
call Memory.poke 2
pop temp 0
push constant 16896
push constant 2997
add
pop local 1
push local 1
push constant 0
add
push constant 24590
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 24606
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 24606
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 24606
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 24686
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 24686
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 24686
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 24974
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 24974
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 24974
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 26126
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 26126
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 26126
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 30734
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 30734
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 24590
call Memory.poke 2
pop temp 0
push constant 16896
push constant 2998
add
pop local 1
push local 1
push constant 0
add
push constant 32752
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 32752
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 32752
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 14
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 32752
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 28672
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 28672
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 28672
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 4094
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 4094
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 4094
call Memory.poke 2
pop temp 0
push constant 0
return
