function Ghost.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push pointer 0
call Ghost.draw 1
pop temp 0
push pointer 0
return
function Ghost.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ghost.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 1
add
push this 0
push constant 11
add
push this 1
push constant 1
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 3
add
push this 1
push constant 2
add
push this 0
push constant 12
add
push this 1
push constant 2
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 2
add
push this 1
push constant 3
add
push this 0
push constant 13
add
push this 1
push constant 3
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 4
add
push this 0
push constant 13
add
push this 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 5
add
push this 0
push constant 3
add
push this 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 6
add
push this 1
push constant 5
add
push this 0
push constant 8
add
push this 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 11
add
push this 1
push constant 5
add
push this 0
push constant 13
add
push this 1
push constant 5
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 6
add
push this 0
push constant 4
add
push this 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 6
add
push this 1
push constant 6
add
push this 0
push constant 9
add
push this 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 11
add
push this 1
push constant 6
add
push this 0
push constant 13
add
push this 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 7
add
push this 0
push constant 3
add
push this 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 6
add
push this 1
push constant 7
add
push this 0
push constant 8
add
push this 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 11
add
push this 1
push constant 7
add
push this 0
push constant 13
add
push this 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 8
add
push this 0
push constant 13
add
push this 1
push constant 8
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 9
add
push this 0
push constant 13
add
push this 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 10
add
push this 0
push constant 13
add
push this 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 11
add
push this 0
push constant 13
add
push this 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 12
add
push this 0
push constant 3
add
push this 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 6
add
push this 1
push constant 12
add
push this 0
push constant 8
add
push this 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 10
add
push this 1
push constant 12
add
push this 0
push constant 12
add
push this 1
push constant 12
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 13
add
push this 0
push constant 1
add
push this 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 7
add
push this 1
push constant 13
add
push this 0
push constant 7
add
push this 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 11
add
push this 1
push constant 13
add
push this 0
push constant 11
add
push this 1
push constant 13
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Ghost.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 15
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ghost.getghostx 0
push argument 0
pop pointer 0
push this 0
return
function Ghost.getghosty 0
push argument 0
pop pointer 0
push this 1
return
function Ghost.move 1
push argument 0
pop pointer 0
push argument 1
pop local 0
push local 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Ghost.moveup 1
pop temp 0
label IF_FALSE0
push local 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Ghost.movedown 1
pop temp 0
label IF_FALSE1
push local 0
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Ghost.moveleft 1
pop temp 0
label IF_FALSE2
push local 0
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Ghost.moveright 1
pop temp 0
label IF_FALSE3
push constant 0
return
function Ghost.moveup 0
push argument 0
pop pointer 0
push this 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
push constant 1
call Map1.check 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
label IF_FALSE0
push this 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 1
push constant 1
call Map2.check 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
label IF_FALSE2
push this 2
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
push this 1
push constant 1
call Map3.check 3
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
return
label IF_FALSE5
label IF_FALSE4
push this 1
push constant 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Ghost.erase 1
pop temp 0
push constant 240
pop this 1
push pointer 0
call Ghost.draw 1
pop temp 0
goto IF_END6
label IF_FALSE6
push this 1
push constant 16
lt
not
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Ghost.erase 1
pop temp 0
push this 1
push constant 16
sub
pop this 1
push pointer 0
call Ghost.draw 1
pop temp 0
label IF_FALSE7
label IF_END6
push constant 0
return
function Ghost.movedown 0
push argument 0
pop pointer 0
push this 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
push constant 2
call Map1.check 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
label IF_FALSE0
push this 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 1
push constant 2
call Map2.check 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
label IF_FALSE2
push this 2
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
push this 1
push constant 2
call Map3.check 3
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
return
label IF_FALSE5
label IF_FALSE4
push this 1
push constant 240
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Ghost.erase 1
pop temp 0
push this 1
push constant 16
add
pop this 1
push pointer 0
call Ghost.draw 1
pop temp 0
goto IF_END6
label IF_FALSE6
push this 1
push constant 240
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Ghost.erase 1
pop temp 0
push constant 0
pop this 1
push pointer 0
call Ghost.draw 1
pop temp 0
label IF_FALSE7
label IF_END6
push constant 0
return
function Ghost.moveleft 0
push argument 0
pop pointer 0
push this 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
push constant 3
call Map1.check 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
label IF_FALSE0
push this 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 1
push constant 3
call Map2.check 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
label IF_FALSE2
push this 2
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
push this 1
push constant 3
call Map3.check 3
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
return
label IF_FALSE5
label IF_FALSE4
push this 0
push constant 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Ghost.erase 1
pop temp 0
push constant 496
pop this 0
push pointer 0
call Ghost.draw 1
pop temp 0
goto IF_END6
label IF_FALSE6
push this 0
push constant 0
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Ghost.erase 1
pop temp 0
push this 0
push constant 16
sub
pop this 0
push pointer 0
call Ghost.draw 1
pop temp 0
label IF_FALSE7
label IF_END6
push constant 0
return
function Ghost.moveright 0
push argument 0
pop pointer 0
push this 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
push constant 4
call Map1.check 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
label IF_FALSE0
push this 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 1
push constant 4
call Map2.check 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
label IF_FALSE2
push this 2
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
push this 1
push constant 4
call Map3.check 3
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
return
label IF_FALSE5
label IF_FALSE4
push this 0
push constant 496
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Ghost.erase 1
pop temp 0
push constant 0
pop this 0
push pointer 0
call Ghost.draw 1
pop temp 0
goto IF_END6
label IF_FALSE6
push this 0
push constant 496
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Ghost.erase 1
pop temp 0
push this 0
push constant 16
add
pop this 0
push pointer 0
call Ghost.draw 1
pop temp 0
label IF_FALSE7
label IF_END6
push constant 0
return
