function Main.main 4
call Start.show 0
pop temp 0
call Start.next 0
pop temp 0
push constant 1
push constant 0
push constant 0
push constant 0
call PacManGame.new 4
pop local 0
push local 0
call PacManGame.run 1
pop temp 0
call Map1.end 0
pop temp 0
call PacManGame.gettime1 0
pop local 1
call PacManGame.gettime2 0
pop local 2
call PacManGame.gettime3 0
pop local 3
push local 0
call PacManGame.dispose 1
pop temp 0
call Next1.show 0
pop temp 0
call Next1.next 0
pop temp 0
push constant 2
push local 1
push local 2
push local 3
call PacManGame.new 4
pop local 0
push local 0
call PacManGame.run 1
pop temp 0
call Map2.end 0
pop temp 0
call PacManGame.gettime1 0
pop local 1
call PacManGame.gettime2 0
pop local 2
call PacManGame.gettime3 0
pop local 3
push local 0
call PacManGame.dispose 1
pop temp 0
call Next2.show 0
pop temp 0
call Next2.next 0
pop temp 0
push constant 3
push local 1
push local 2
push local 3
call PacManGame.new 4
pop local 0
push local 0
call PacManGame.run 1
pop temp 0
call Map3.end 0
pop temp 0
call PacManGame.gettime1 0
pop local 1
call PacManGame.gettime2 0
pop local 2
call PacManGame.gettime3 0
pop local 3
push local 0
call PacManGame.dispose 1
pop temp 0
push local 1
push local 2
push local 3
call Congratulations.show 3
pop temp 0
push constant 0
return
